/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

ul.dropdown-menu {
    cursor: pointer;
}

li.active > a {
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

/* TODO: add transitions upon loading a new page */
#page-contents {
}

#page-contents.loading {
}

#page-contents.loading-error {
}

#noscript-alert {
    text-align: center;
    padding-top: 10px;
}

#recent-news {
    margin: 10px;
    background-color: black;
}

.carousel-caption {
    top: 0px;
    text-align: left;
    /* This needs to be set per @media type */
    left: 5%;
    right: 5%;
}

.carousel-control {
    width: 5%;
}

.carousel-inner {
    height: 250px;
}

/* TODO: theme recent-news div on nojs version of site */
#recent-news-nojs {
    margin-top: 10px;
}

#footer-right {
    text-align: right;
}
