// (C) Copyright Collin Doering @!@YEAR@!@
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.

// File: _home-page.sass
// Author: Collin J. Doering <rekahsoft@gmail.com>
// Date: Dec 5, 2013

#business-card
  border: 2px solid
  border-radius: 5px
  padding: 10px
  min-height: 215px
  max-width: 550px
  margin: 0 auto
  
  .photo
    background: url('/images/business-card.png')
    border: 1px solid
    border-radius: 10px
    min-height: 215px
    min-width: 150px
    float: left
    margin-right: 10px

  .info
    border-top: 2px solid
    overflow: hidden
    padding-top: 8px
    
    *
      display: block
    .name
      font-weight: bold

#recent-posts
  // style recent posts section

#tag-cloud
  // todo

#tools
  // todo
