// (C) Copyright Collin Doering @!@YEAR@!@
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.

// File: default.sass
// Author: Collin J. Doering <rekahsoft@gmail.com>
// Date: Dec 5, 2013
//
// Use Bourbon
@import 'sass/bourbon/bourbon'

@import 'sass/fonts'
@import 'sass/util'
@import 'sass/header'

@import 'sass/home-page'
@import 'sass/blog-page'
@import 'sass/contact-page'
@import 'sass/tag-page'
@import 'sass/post-page'
@import 'sass/src-highlight'

//-------------------------------------------------------------------------------------
// General
//-------------------------------------------------------------------------------------
body
  background: #efe
  font: 14px/21px FreeMono, monospace, Helvetica, Arial, sans-serif

h1,h2,h3,h4,h5,h6
  font-family: FreeMono
h1
  font-size: 2.5em
h2
  font-size: 2em
h3
  font-size: 1.75em
h4
  font-size: 1.5em
h5
  font-size: 1.25em
h6
  font-size: 1em

ul, ol
  padding-left: 1em

hr
  margin-bottom: 0.5em

sup
  vertical-align: super

sub
  vertical-align: sub

#noscript-alert
  @include border-box(0, #FCD4D4)
  text-align: center

#page-content
  opacity: 1
  @include transition(opacity 250ms ease-out)
  margin-top: 1em
  overflow: hidden

  ul > li:before
    content: "\2192"
    padding-right: 0.5em
    font-size: 1.5em

  ul > li
    margin-bottom: 0.02em
  ol > li
    margin-bottom: 0.02em

#page-content.loading
  opacity: 0.35

#page-content.loading-done
  @include transition(opacity 1s ease-in 0.5s)
  opacity: 1

// TODO: this needs work
#page-content.loading-error
  //background: url('/images/error-loading.png') no-repeat 50%
  //height: 200px

#page-content.init.loading
  background: url('/images/init-loading.gif') no-repeat 50%
  height: 125px

#page-content.init.loading-error
  // do something

#footer-left
  padding-left: 1em

#footer-right
  text-align: right

.border-box
  @include border-box()

//-------------------------------------------------------------------------------------
// @media selectors
//-------------------------------------------------------------------------------------

// Smaller than standard 960 (devices and browsers)
@media only screen and (max-width: 959px)

// Tablet Portrait size to standard 960 (devices and browsers)
@media only screen and (min-width: 768px) and (max-width: 959px)

// All Mobile Sizes (devices and browser)
@media only screen and (max-width: 767px)
  #footer-left, #footer-right
    text-align: center

  #logo
    height: 130px

// Mobile Landscape Size to Tablet Portrait (devices and browsers)
@media only screen and (min-width: 480px) and (max-width: 767px)
  #logo-background
    padding: 0.5em 0

  #nav-menu li
    padding: 10px 1.5em

  #footer-left
    padding-left: 0

// Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
@media only screen and (max-width: 479px)
  #logo-background
    padding: 0

  #nav-menu li
    padding: 10px 5px
