#business-card
  .photo
  %p.description
    Welcome to my blog!
  .info
    %span.name Collin J. Doering
    %a.email(href="mailto:collin.doering@gmail.com") collin.doering@gmail.com
    %a.gpg-key(href="files/collin-doering.gpg") 4096R/E05BFEC

