<div class="loading" id="nav">
  <ul class="container" id="nav-menu">
    $for(pagesFirst)$
    <li>
      <a class="menuitem" href="$url$" rel="address:$virtualpath$">$title$</a>
    </li>
    $endfor$
    $for(pageMid)$
    <li class="active">
      <a class="menuitem" href="$url$" rel="address:$virtualpath$">$title$</a>
    </li>
    $endfor$
    $for(pagesLast)$
    <li>
      <a class="menuitem" href="$url$" rel="address:$virtualpath$">$title$</a>
    </li>
    $endfor$
    <a class="rss-icon" href="atom.xml"></a>
  </ul>
</div>
