<div class='container' id='pagination'>
  <div class='eight columns alpha'>
    $if(firstPageUrl)$
    $if(firstPageUrlVirtualPath)$
    <a class='firstPage' href='$firstPageUrlVirtualPath$' rel='address:$firstPageUrlVirtualPath$'>First Page</a>
    $else$
    <a class='firstPage' href='$firstPageUrl$'>First Page</a>
    $endif$
    $endif$
    $if(previousPageUrl)$
    $if(previousPageUrlVirtualPath)$
    <a class='previousPage' href='$previousPageUrlVirtualPath$' rel='address:$previousPageUrlVirtualPath$'>Previous Page</a>
    $else$
    <a class='previousPage' href='$previousPageUrl$'>Previous Page</a>
    $endif$
    $endif$
  </div>
  <div class='eight columns'>
    $if(nextPageUrl)$
    $if(nextPageUrlVirtualPath)$
    <a class='nextPage' href='$nextPageUrlVirtualPath$' rel='address:$nextPageUrlVirtualPath$'>Next Page</a>
    $else$
    <a class='nextPage' href='$nextPageUrl$'>Next Page</a>
    $endif$
    $endif$
    $if(lastPageUrl)$
    $if(lastPageUrlVirtualPath)$
    <a class='lastPage' href='$lastPageUrlVirtualPath$' rel='address:$lastPageUrlVirtualPath$'>Last Page</a>
    $else$
    <a class='lastPage' href='$lastPageUrl$'>Last Page</a>
    $endif$
    $endif$
  </div>
</div>
