#pagination.container
  .four.columns.alpha
    $if(firstPageUrl)$
    $if(firstPageUrlVirtualPath)$
    %a.firstPage(rel="address:$firstPageUrlVirtualPath$" href="$firstPageUrl$") First Page
    $else$
    %a.firstPage(href="$firstPageUrl$") First Page
    $endif$
    $endif$
  .four.columns
    $if(previousPageUrl)$
    $if(previousPageUrlVirtualPath)$
    %a.previousPage(rel="address:$previousPageUrlVirtualPath$" href="$previousPageUrl$") Previous Page
    $else$
    %a.previousPage(href="$previousPageUrl$") Previous Page
    $endif$
    $endif$
  .four.columns
    $if(nextPageUrl)$
    $if(nextPageUrlVirtualPath)$
    %a.nextPage(rel="address:$nextPageUrlVirtualPath$" href="$nextPageUrl$") Next Page
    $else$
    %a.nextPage(href="$nextPageUrl$") Next Page
    $endif$
    $endif$
  .four.colums.omega
    $if(lastPageUrl)$
    $if(lastPageUrlVirtualPath)$
    %a.lastPage(rel="address:$lastPageUrlVirtualPath$" href="$lastPageUrl$") Last Page
    $else$
    %a.lastPage(href="$lastPageUrl$") Last Page
    $endif$
    $endif$
