!!! 5
/[if lt IE 7] <html class="ie ie6" lang="en">
/[if IE 7] <html class="ie ie7" lang="en"
/[if IE 8] <html class="ie ie8" lang="en">
<!-- [if (gte IE 9)|!(IE)]><!-->
%html.en(manifest='manifest.appcache')
  // Work in progress on application cache;
  %head
    / Basic Page Needs
    %meta(charset="utf-8")

    %title RekahSoft
    %meta(name="description" content="Custom soltuions to unique problems")
    %meta(name="author" content="Collin Doering")

    / Mobile Specific Metas
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

    / CSS
    %link(rel="stylesheet" href="lib/css/base.css")
    %link(rel="stylesheet" href="lib/css/skeleton.css")
    %link(rel="stylesheet" href="lib/css/layout.css")
    / Custom styles for this template
    %link(rel="stylesheet" href="default.css")

    /[if lt IE 9]
      %script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    
    / Favicons
    %link(rel="shortcut icon" href="/images/favicon.ico")
    // %link(rel="icon" type="image/png" href="/images/favicon.ico.png")
    // %link(rel="icon" type="image/svg+xml" href="/images/favicon.svg")

    // %link(rel="apple-touch-icon" href="lib/images/apple-touch-icon.png")
    // %link(rel="apple-touch-icon" sizes="72x72" href="lib/images/apple-touch-icon-72x72.png")
    // %link(rel="apple-touch-icon" sizes="114x114" href="lib/images/apple-touch-icon-114x114.png")

  %body
    $partial("templates/partials/logo-banner.haml")$
    $partial("templates/partials/nav.haml")$

    #page-content.init.loading
      %noscript
        #noscript-alert.container
          %h1 This site requires javascript!
          %p
            If you insist on not using javascript we provide a simplified website
            %a.alert-link(href="nojs/index.html") here

    $partial("templates/partials/footer.haml")$

    / External javascript libraries: JQuery, and JQuery-Address
    / Placed at the end of the document so the pages load faster
    %script(src="lib/js/jquery-1.9.1.js")
    %script(src="lib/js/jquery.address.js")

    / Custom javascript for user interactivity
    %script(src="js/default.js")
