<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Custom soltuions to unique problems">
    <meta name="author" content="Collin Doering">
    <link rel="shortcut icon" href="/lib/ico/favicon.png">

    <title>RekahSoft</title>

    <!-- Bootstrap core CSS -->
    <link href="/lib/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/default.css" rel="stylesheet">
  </head>

  <body>
    $partial("templates/nav-nojs.html")$
    <div class="container">
      $if(recentNews)$
        $partial("templates/recent-news-nojs.html")$
      $endif$
      $body$
      $partial("templates/footer.html")$
    </div>
  </body>
</html>
