<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Custom soltuions to unique problems">
    <meta name="author" content="Collin Doering">
    <link rel="shortcut icon" href="lib/ico/favicon.png">

    <title>RekahSoft</title>

    <!-- Bootstrap core CSS -->
    <link href="lib/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/default.css" rel="stylesheet">

    <noscript>
      <div id="noscript-alert" class="container">
        <div class="alert alert-danger">
        <h1>This site requires javascript!</h1>
        <p>If you insist on not using javascript we provide a simplified website <a class="alert-link" href="nojs/pages/home.html">here</a></p>
        </div>
      </div>
    </noscript>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="bootstrap/assets/js/html5shiv.js"></script>
      <script src="bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    $partial("templates/nav.html")$
    <div class="container">
      <div id="page-content" class="container loading">
        <div class="row"></div>
      </div>
      $partial("templates/footer.html")$
    </div>

    <!-- External javascript libraries: Bootstrap, JQuery, and JQuery-Address
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="lib/js/jquery.js"></script>
    <script src="lib/js/bootstrap.js"></script>
    <script src="lib/js/transition.js"></script>
    <script src="lib/js/collapse.js"></script>
    <script src="lib/js/jquery.address.js"></script>

    <!-- Custom javascript for user interactivity -->
    <script src="js/default.js"></script>
  </body>
</html>
