<!DOCTYPE html>
<html class='en'>
  <head>
    <!-- Basic Page Needs -->
    <meta charset='utf-8'>
    <title>RekahSoft</title>
    <meta content="The technical musings of a minimalist" name="description">
    <meta content="Collin Doering" name="author">
    <meta content="copyright" content="Copyright 2015 - Collin Doering">
    <meta content="collin, collin doering, rekahsoft, functional programming, math" content="keywords">

    <!-- Mobile Specific Metas -->
    <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>

    <!-- CSS -->
    <link rel="stylesheet" href="/lib/css/normalize.css">
    <link rel="stylesheet" href="/lib/css/skeleton.css">

    <!-- Custom styles for this template -->
    <link href='/default.css' rel='stylesheet'>

    <!-- Favicons -->
    <link href='/images/favicon.ico' rel='shortcut icon'>
  </head>

  <body>
    <img src="//analytics.rekahsoft.ca/piwik.php?idsite=1" style="border:0;display:none;" alt="" />

    $partial("templates/partials/logo-banner.html")$
    $partial("templates/partials/nav-nojs.html")$

    <div id="page-content">
      $body$
    </div>

    $partial("templates/partials/footer.html")$
  </body>
</html>
