<div id="recent-news" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#recent-news" data-slide-to="0" class="active"></li>
    <li data-target="#recent-news" data-slide-to="1"></li>
    <li data-target="#recent-news" data-slide-to="2"></li>
    <li data-target="#recent-news" data-slide-to="3"></li>
    <li data-target="#recent-news" data-slide-to="4"></li>
  </ol>
  
  <div class="carousel-inner">

    <div class="recent-news-item item active">
      <div class="container">
        <img height="250px"/>
        <div class="carousel-caption">
          <h1>$mostRecentNewsTitle$</h1>
          $if(mostRecentNewsTeaser)$
            $mostRecentNewsTeaser$
          $else$
            $mostRecentNewsBody$
          $endif$
        </div>
      </div>
    </div>

    $for(recentNews)$
    <div class="recent-news-item item">
      <div class="container">
        <img height="250px"/>
        <div class="carousel-caption">
          <h1>$title$</h1>
          $if(teaser)$
            $teaser$
          $else$
            $body$
          $endif$
        </div>
      </div>
    </div>
    $endfor$
  </div>

  <a class="left carousel-control" href="#recent-news" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#recent-news" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
